<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ClientID</key>
	<string>Aas6NZygHZ1G5oSVyqnMwIOen5TCj8nc</string>
	<key>Domain</key>
	<string>dev-tf5cl0bxeufaqrds.us.auth0.com</string>
	<key>Audience</key>
	<string>estel-api</string>
</dict>
</plist>
